* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  body {
    background-color: #191919;
    font-family: "Roboto", sans-serif;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }

  li{
    list-style: none;
  }

  a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
  }

  a:hover{
    color: orange;
  }





  header{
    position: relative;
    padding: 0 2rem;
  }

  .navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
  }

  .navbar .links{
    display: flex;
    gap: 2rem;
  }

  .navbar .toggle_btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display:none;
  }

  .action_btn{
    background-color: orange;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
  }

  .action_btn:hover{
    scale: 1.05;
    color: white;
  }

  .action_btn:active{
    scale: 0.95;
  }



  .dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }



  .dropdown_menu.open{
    height: 240px;
  }

  .dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }



  .dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
  }


  section#hero{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
  }


  #hero h1{
    font-size: 3rem;
    margin-bottom: 1rem;


  }







  @media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
      display: none;
    }

    .navbar .toggle_btn{
      display: block;
    }

    .dropdown_menu{
      display: block;
    }
  }



  @media(max-width: 576px){

    .dropdown_menu{
      left: 2rem;
      width: unset;
    }
  }



























  .neon-text{
    color: #3a6a78;
    text-shadow:
    0 0 5px rgba(74, 140, 152, 0.5),
    0 0 10px rgba(33, 61, 74, 0.4),
    0 0 15px rgba(0, 255, 255, 0.15),
    0 0 20px rgba(0, 255, 255, 0.05);
    }
