

* {
margin: 0;
padding: 0;
}

a{
text-decoration: none;
}

body{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: #1c313a;
font-family: "Roboto", sans-serif;
font-weight: 500;
color: rgba(255, 255, 255, 0.9);
width: 100%;
height: 100vh;
row-gap: 5vh;
}





























.przyciski-fit{
display: flex;
justify-content: center;
align-items: end;
width: 100%;
height: 15vh;
}

.przyciski {
display: flex;
flex-direction: row;
column-gap: 30px;
}

.przycisk-style {
display: flex;
cursor: pointer;
background-color: #396471;
border: white solid 1px;
color: white;
height: 3rem;
width: 9rem;
font-size: 1.5rem;
}


























.margines{
display: flex;
justify-content: center;
align-items: center;
color: transparent;
text-decoration: none;
background-color: #29434a;
border: 2px solid white;
width: 14vw;
}

.margines-style {
display: flex;
align-items: center;
justify-content: center;
text-align: center;
cursor: pointer;
background-color: #29434a;
border: 2px solid white;
width: 12vw;
height: 10vh;
font-size: 1.75rem;
}

.margines:hover{
color: white;
transition: color 1s;
}




























.zdjecia-fit{
display: flex;
justify-content: center;
align-items: start;
width: 100%;
height: 80vh;
column-gap: 5vw;
}

.zdjecia {
display: flex;
justify-content: center;
align-items: center;
background-color: #29434a;
border: 2px solid white;
padding: 1vw;
}

.zdjecie-style {
cursor: pointer;
border: white solid 2px;
width: 50vw;
}
