* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    }

    :root {
    --background-color: rgb(25, 25, 25);
    }

    .neon-text {
    color: #3a6a78;
    text-shadow:
    0 0 5px rgba(74, 140, 152, 0.5),
    0 0 10px rgba(33, 61, 74, 0.4),
    0 0 15px rgba(0, 255, 255, 0.15),
    0 0 20px rgba(0, 255, 255, 0.05);
    }































    body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #1c313a;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.9);
    flex-shrink: 1;
    z-index: 1;
    }

    .Strona {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    max-width: 100rem;
    min-height: 100vh;
    border-radius: 12.5rem 12.5rem 0 0;
    background-color: var(--background-color);
    flex-shrink: 1;
    z-index: 1;
    }

    .widok {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    }














































    .header-fit {
    display: flex;
    align-content: start;
    overflow: hidden;
    height: 15vh;
    width: 86%;
    }

    .header {
    display: flex;
    flex: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 4.6vh;
    margin-top: 10.37vh;
    }

    .Logo {
    display: flex;
    justify-content: start;
    width: 100%;
    max-width: 48rem;
    overflow: hidden;
    }

    .Logo-tresc {
    font-size: 2.5rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    }

    .Nawigacja {
    width: 100%;
    max-width: 38rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    row-gap: 12rem;
    margin-top: 0.3125rem;
    }

    .nav-links {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    }

    .nav-links a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
    font-size: 1.875rem;
    transition: color 0.3s ease;
    }

    .nav-links a:hover {
    color: #1a536b;
    }


















































    .tabela-fit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 2vh;
    height: 85vh;
    width: 100%;
    overflow: hidden;
    }
    .wzor {
    display: flex;
    height: calc(66vh + 1rem);
    width: calc(70vw + 2rem);
    margin-top: calc(7.5vh + 0.5rem);
    column-gap: 5.75vw;
    }




    .opis-ramka {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: calc(13.75vw + 0.5rem);
    min-height: calc(66vh + 1rem);
    z-index: 0;
    }
    .opis {
    border-collapse: separate;
    background-color: black;
    border-radius: 10px;
    border-spacing: 5px;
    min-width: calc(13.75vw + 0.5rem);
    min-height: calc(66vh + 1rem);
    position: absolute;
    transition: width 0.5s ease, left 0.5s ease;
    z-index: 20;
    }
    .opis.expanded {
    min-width: calc(70vw + 2rem); 
    min-height: calc(66vh + 1rem);
    }
    .opis-t {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    color: transparent;
    transition: all 0.3s ease;
    background-color: #282828;
    border: 1px solid #414141;
    width: 50%;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 14px;
    border-radius: 4px;
    }
    .opis-t.expanded {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
    color: #aaaaaa;
    background-color: #396471;
    transition: all 0.3s ease;
    width: calc(calc(70vw + 2rem) - 10px); 
    height: calc(calc(66vh + 1rem) - 10px);
    font-size: 5rem;
    }




    .tabela-ramka {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: calc(50.5vw + 1.5rem);
    min-height: calc(66vh + 1rem);
    z-index: 0;
    }
    .tabela {
    position: relative;
    overflow: hidden;
    border-collapse: separate;
    background-color: black;
    border-radius: 10px;
    border-spacing: 5px;
    min-width: calc(50.5vw + 1.5rem);
    min-height: calc(66vh + 1rem);
    }
    .komorka {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    color: transparent;
    background-color: #282828;
    border: 1px solid #414141;
    transition: all 0.3s ease;
    width: 50%;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 14px;
    border-radius: 4px;
    z-index: 1;
    }
    .komorka.expanded {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
    background-color: #396471;
    color: #aaaaaa;
    transition: all 0.5s ease;
    min-width: calc(calc(50.5vw + 1.5rem) - 10px);
    min-height: calc(calc(66vh + 1rem) - 10px);
    top: 5px;
    left: 5px;
    font-size: 10rem;
    z-index: 15;
    }



    
    .komorka:hover, .opis-t:hover{
    background-color: #396471;
    }
















































    .tabela-ramka::before {
    content: "";
    position: absolute;
    width: calc(50.5vw + 2.5rem);
    height: calc(66vh + 2rem);
    background-image: linear-gradient(var(--rotate), #186479, #1d3848 43%, #133866);
    animation: spin 3s linear infinite;
    border-radius: 1rem;
    z-index: -1;
    }


    .opis-ramka::before {
    content: "";
    position: absolute;
    width: calc(13.75vw + 1.5rem);
    height: calc(66vh + 2rem);
    background-image: linear-gradient(var(--rotate), #186479, #1d3848 43%, #133866);
    animation: spin 3s linear infinite;
    border-radius: 1rem;
    z-index: -1;
    }
    .opis-ramka.expanded::before {
    width: calc(70vw + 3rem);
    height: calc(66vh + 2rem);
    }


    @property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
    }
    @keyframes spin {
    0% {--rotate: 0deg;}
    100% {--rotate: 360deg;}
    }